body {
    background: linear-gradient(#D4CFC9 50%, #B9D4DB);
    background-size: cover;
    background-position: center;
  font-family: 'Titillium Web', sans-serif;
}

.navbar-brand {
  font-size: 20px;
  color: #000;
  font-weight: bold;
}

#testimonial {
  background: #f1f1f1;
  padding: 50px 0 30px 0;
  text-align:center;
  margin-top: 40px;
}

footer {
  background: url(../img/image3.png);
  img-fluid;
}
